.temps {
    display: flex;
    justify-content: center;
    margin-top : 95px;
    font-size: 4.5rem;
    width: 26.5em;
    height: 1em;
}

* {
    background-color: rgb(121, 121, 218);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.bouton{
    text-align: center;
    margin-top: 80px;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 75px;
}

.cercle {
    margin : auto;
    display : flex;
    border-radius:75%;
    width:160px;
    height:160px;
}

#démarrer,
#rénitialiser {
    border-radius: 100px / 50px;
}





